<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SOM Course Generator</title>
    <link rel="stylesheet" href="/static/template.css">
  </head>
  <body>
  	<br /><br />
  	<div class="vertical-center">
    	<h1> {{ forward_message }}  </h1>
    </div>
    <br />
    <br />
    <div class="vertical-center">
    	<form action="/forward/" method="post">
	    <button name="forwardBtn" type="submit"><h1>Create Course</h1></button>
	    </form>
	</div>
  </body>
</html>

